@use 'sass:color';

.radix-themes{
    --shadow-0: var(--shadow-level-0) !important;
    --shadow-1: var(--shadow-level-1) !important;
    --shadow-2: var(--shadow-level-2) !important;
    --shadow-3: var(--shadow-level-3) !important;
    --shadow-4: var(--shadow-level-4) !important;
    --shadow-5: var(--shadow-level-5) !important;
}

:root,
.light,
.light-theme,
.dark,
.dark-theme {
    --shadow-0: var(--shadow-level-0) !important;
    --shadow-1: var(--shadow-level-1) !important;
    --shadow-2: var(--shadow-level-2) !important;
    --shadow-3: var(--shadow-level-3) !important;
    --shadow-4: var(--shadow-level-4) !important;
    --shadow-5: var(--shadow-level-5) !important;

    --color-page-background: var(--base-bg-1) !important;

    --red-1: var(--accent-1) !important; // Backgrounds
    --red-2: var(--accent-2) !important; // Backgrounds
    --red-3: var(--accent-3) !important; // Interactive
    --red-4: var(--accent-4) !important; // Interactive
    --red-5: var(--accent-5) !important; // Interactive
    --red-6: var(--accent-6) !important; // Borders & separators
    --red-7: var(--accent-7) !important; // Borders & separators
    --red-8: var(--accent-8) !important; // Borders & separators
    --red-9: var(--accent-9) !important; // Solid
    --red-10: var(--accent-10) !important; // Solid
    --red-11: var(--accent-11) !important; // Accessible text
    --red-12: var(--accent-12) !important; // Accessible text

    --red-a1: color.adjust(var(--accent-1), $alpha: -0.2) !important; // Backgrounds
    --red-a2: color.adjust(var(--accent-2), $alpha: -0.2) !important; // Backgrounds
    --red-a3: color.adjust(var(--accent-3), $alpha: -0.2) !important; // Interactive
    --red-a4: color.adjust(var(--accent-4), $alpha: -0.2) !important; // Interactive
    --red-a5: color.adjust(var(--accent-5), $alpha: -0.2) !important; // Interactive
    --red-a6: color.adjust(var(--accent-6), $alpha: -0.2) !important; // Borders & separators
    --red-a7: color.adjust(var(--accent-7), $alpha: -0.2) !important; // Borders & separators
    --red-a8: color.adjust(var(--accent-8), $alpha: -0.2) !important; // Borders & separators
    --red-a9: color.adjust(var(--accent-9), $alpha: -0.2) !important; // Solid
    --red-a10: color.adjust(var(--accent-10), $alpha: -0.2) !important; // Solid
    --red-a11: color.adjust(var(--accent-11), $alpha: -0.2) !important; // Accessible text
    --red-a12: color.adjust(var(--accent-12), $alpha: -0.2) !important; // Accessible text

    --sage-1: var(--base-1) !important;
    --sage-2: var(--base-2) !important;

    --sage-3: var(--base-3) !important;
    --sage-4: var(--base-4) !important;
    --sage-5: var(--base-5) !important;

    --sage-6: var(--base-6) !important;
    --sage-7: var(--base-7) !important;
    --sage-8: var(--base-8) !important;

    --sage-9: var(--base-9) !important;
    --sage-10: var(--base-10) !important;

    --sage-11: var(--base-11) !important;
    --sage-12: var(--base-12) !important;

    --sage-a1: color.adjust(var(--base-1), $alpha: -0.2) !important; // Backgrounds
    --sage-a2: color.adjust(var(--base-2), $alpha: -0.2) !important; // Backgrounds
    --sage-a3: color.adjust(var(--base-3), $alpha: -0.2) !important; // Interactive
    --sage-a4: color.adjust(var(--base-4), $alpha: -0.2) !important; // Interactive
    --sage-a5: color.adjust(var(--base-5), $alpha: -0.2) !important; // Interactive
    --sage-a6: color.adjust(var(--base-6), $alpha: -0.2) !important; // Borders & separators
    --sage-a7: color.adjust(var(--base-7), $alpha: -0.2) !important; // Borders & separators
    --sage-a8: color.adjust(var(--base-8), $alpha: -0.2) !important; // Borders & separators
    --sage-a9: color.adjust(var(--base-9), $alpha: -0.2) !important; // Solid
    --sage-a10: color.adjust(var(--base-10), $alpha: -0.2) !important; // Solid
    --sage-a11: color.adjust(var(--base-11), $alpha: -0.2) !important; // Accessible text
    --sage-a12: color.adjust(var(--base-12), $alpha: -0.2) !important; // Accessible text
}